# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# KWStyle hook output
*.kws

# compiled python files
*.pyc

# Binary directory
BUILD*
build*
